<div class="profilePage">
  <h1>Username</h1>   <button (click)="goBack()">Déconnection</button>

  <p>Nom</p>
  <p>Prénom</p>
  <br>
  <br>
  <br>
  <h5>Mes lieux enregistrés :</h5>
  <p>- Maison  --------------------------------------------------> Modifier       ...      Supprimer</p>
  <p class="homeWeather">
    Météo de Arras :<br>
    Température : 11°C <br>
    Temps: soleil<br>
  </p>
  <p>- Boulot  --------------------------------------------------> Modifier       ...      Supprimer</p>
  <p class="homeWeather">
    Météo de Lille :<br>
    Température : 10.4°C <br>
    Temps: soleil<br>
  </p>
  <p> Ajouter un lieu +</p>
</div>

